body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.nav-tabs {
    width: 100%;
}

.bmd-layout-content {
    min-height: 100vh;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active {
    color: white;
}
#searchBar {
    display: inline;
    margin: auto;
    width: 70%;
}

#searchText {
    width: 70%;
}

.form-control, .material-icons {
    display: inline;
}

.card-img-top {
    max-height: 20vh;
}

.set-card {
    height: 38vh;
    margin-bottom: 1rem;
}

.card-body {
    display: flex;
}

.card-title {
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width: 992px) {
    .set-card {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
